html(prefix="og: https://ogp.me/ns#")
  head

    block metadata
      meta(name="author", content="lookee")
      meta(name="keywords", content="dumb, blog")
      meta(name="description", content="stupidest opinion")
      
      meta(property="og:title", content="lookee's world")
      meta(property="og:description", content="le univers")
      meta(property="og:url", content="https://lowkey.cf")
      meta(property="og:image", content="https://i.redd.it/68d4rb0a3uq11.jpg")
      meta(name="viewport" content="width=device-width,initial-scale=1.0")

    title= title

    block scripts
      script(defer="true", src='https://code.jquery.com/jquery-3.5.1.min.js')
      script(defer="true", src='../javascripts/main.js')

    block styles
      link(rel='stylesheet', href='./stylesheets/style.css')

  body

    #toc

    #content
      block content

    block header
      #header
        a(href="../")
          img(src='../assets/logo.png', class='logo', width=180)


    block foot
      #footer
        p Made with love and sadness